body{

}
.title{
	font-family: helvetica,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei","Microsoft YaHei",SimSun,sans-serif;
}

/*首页描述*/
#shiji_index .type-1-pins .left-part .title {
	display: block;
	text-align: center;
	font-size: 18px;
	padding: 0 4em;
	line-height: 1.5em;
}
#shiji_index .type-2-pins .title {
	display: block;
	font-size: 18px;
	margin-bottom: 30px;
	padding: 0 4em;
	line-height: 1.5em;
}
#shiji_index .type-2-pins .description {
	top: 620px;
}

#shiji_index .type-3-pins .title {
	display: block;
	line-height: 1.4;
	padding: 0 3em;
	line-height: 1.5em;
}
/*首页图片内阴影细节*/
#shiji_index .featured-item .item .item-img {
	display: block;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
#shiji_index .featured-item .item .go:before,
#shiji_index .featured-item .item .go:hover{
	content: "";
	display: block;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute
}

#shiji_index .featured-item .item .cover {
	z-index:2;
}

#shiji_index .featured-item .item .btn-bar {
	z-index:3;
}
.item img{
	display:block;
}


/*----小铺管理页面----*/

